<div class="card">
  <div class="card__genre">
    {{primaryGenreName}}
  </div>
  
  <a (click)="playThis(previewUrl)"   class="card__play">
      <img class="card__thumbnail" src="{{artworkUrl60}}" alt="{{trackCensoredName}}">
      <svg class="card__play--icon">
          <use xlink:href="../../../assets/svg/symbol-defs.svg#icon-play-circle"></use>
      </svg>
      
    </a> 
  <div class="card__text">
    <a [routerLink]="['/home','search','song',trackCensoredName.split(' ').join('')]"
      class="card__text--name" 
      *ngIf="trackCensoredName.length > 30">
      {{trackCensoredName.substring(0,wordLimit-3)}}...
    </a>
    <a [routerLink]="['/home','search','songName',trackCensoredName]"
          class="card__text--name" 
          *ngIf="trackCensoredName.length <= 30">
          {{trackCensoredName}}
    </a>
    <a [routerLink]="['search','artistName',artistName]" 
          routerLinkActive="router-link-active"  
          class="card__text--artistName" 
          *ngIf="artistName.length >wordLimit">
          {{artistName.substring(0,wordLimit-3)}}...
    </a>
        <a [routerLink]="['search','artistName',artistName]" 
          routerLinkActive="router-link-active"  
          class="card__text--artistName" 
          *ngIf="artistName.length <=wordLimit">
          {{artistName}}
        </a>
    
      <!--
        <div class="card__description">
          <div class="card__description--release-date">
            {{releaseDate}}
          </div>
        </div>    
      -->
    </div>
    <div class="card__extra">
      <div class="card__extra--price">
      {{collectionPrice}}
      </div>
      <a href="{{collectionViewUrl}}" class="card__extra--link">
        
        <svg class="card__extra--icon">
            <use xlink:href="../../../assets/svg/symbol-defs.svg#icon-external-link"></use>
        </svg>
        
        iTunes
      </a>
    </div>
  </div>
  