.list-item{
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    display: block;
    cursor:pointer;
    &__text{
        display: inline-block;
    }
    &__icon{
        line-height: 0;
        padding: 0 0;
        fill: red;
        margin:0;
        width: 3.5rem;
        height: 3.5rem;
        display: inline-block;
    }
}