@import "../../../../../styles.scss";
.row{
    width: auto;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0rem;
        &--header{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 200;
            font-size: 3.5rem;
        }
        &--button{
            margin-right: 1rem;
            font-family: 'Josefin Sans', sans-serif;
            padding: .5rem;
            background-color: red;
            color: white;
            font-size: 1.8rem;
        }
    }
    &__center{
        display: grid;
        
        grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
        grid-template-rows: repeat(1, minmax(23rem, min-content));
        
        grid-auto-flow: row dense;
        //grid-auto-rows: 0;
        overflow-y: hidden;
        grid-column-gap: 2rem;

        @media only screen and (max-width:1137px) {
         grid-template-rows: repeat(2, minmax(23rem, min-content));   
         //grid-row-gap: 2rem;
        }     
    }

    &__item{
        //margin: 2rem 1.5rem;
        //@media only screen and (max-width:1295px){
        //    margin: 1.5rem 1rem;
        //}
    }

}

.playControls{
    height: auto;
}

.title{
    font-family: 'Signika',sans-serif;
    color: $color-primary-1;
    font-weight: 200;
    font-size: 3rem;
}
.titleRes{
    font-family: 'Signika',sans-serif;
    color: $color-primary-1;
    font-weight: 400;
    font-size: 4rem;
}