<div class="container">
  <div class="header-logo">

  </div>
  <div class="description">
    <div class="description__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam in sint quas ipsam possimus aspernatur corrupti reprehenderit autem exercitationem? Officia beatae ratione nulla? Consequuntur quis blanditiis, ipsa totam esse alias deserunt facere architecto, omnis, nulla doloribus quibusdam. Molestiae eligendi hic dolores iure sint at enim modi! Ducimus maxime, optio, delectus eligendi ipsa assumenda necessitatibus ipsam aut fugit enim cupiditate? Veritatis ut vero accusamus cupiditate sunt, minus dignissimos illum aut rem.
    </div>
    <div class="description__btn">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn">Discover</a>
    </div>
  </div>
  <div class="footer">
    Developed by Nishanth B S.
  </div>
</div>
