<div class="container">
  <div class="header-logo">
    <svg class="header-logo__icon">
      <use xlink:href="../../../assets/svg/symbol-defs.svg#icon-apple"></use>
    </svg>
    iTunesSearch
  </div>
  <div class="description">
    <div class="description__text">
      Searching for songs, but don't know where to look for?<br>
      The iTunesSearch  offers you a wide range of 
      music at the tip of your fingers. <br>
      iTunesSearch also provides you with a 30 second preview to listen  to your favourite song.<br>
      So, no more excuses now. iTunesSearch Karo !!
    </div>
    <div class="description__btn">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn">Discover</a>
    </div>
  </div>
  <div class="footer">
    Developed by Nishanth B S.
  </div>
</div>
