$color-primary-1: #C1193B;
$color-primary-2:#AA2565;
$color-primary-3:#823B7D;
$color-primary-4:#554880;
$color-primary-5: #344B71;
$color-primary-6:#2F4858;
$color-secondary-1:#44808A;
$color-secondary-2:#2B7ADF;
$color-secondary-3:#0092DE;
$color-secondary-4:#00A2C0;
$color-secondary-5:#54B9C9;
$color-secondary-6:#BEFBFF;
$color-light-1:#CA8282;
$color-light-2:#FFE4E2;
$color-light-3:#F3EED9;
$color-white:#fff;
$line: 1px solid $color-primary-2;