@import "../../../../../../styles/variables";
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__item{
        flex: 0 0 70%;
        margin: .4rem 0;
        &--link{
            width: 100%;
            display: flex;
            justify-content: start;
            align-content: center;
            &:link,&:visited,&:active,&:hover{
                font-family: 'Signika', sans-serif;
                color: $color-primary-1;
                text-decoration: none;
            }
            
        }
        &--image{
            align-self: center;
            height: 7rem;
            width: 7rem;
            border-radius: 6px;
        }
        &--text{
            flex: 1;
            align-self: center;
            font-size: 1.5rem;
            color: $color-primary-1;
            

        }
    }
    
}