<span class="title">Showing results for:</span> 
<span class="titleRes">{{term}}</span> 

  <div class="titleRes" *ngIf="songData.length <= 0 && albumData.length <= 0 && artistData <= 0 && composerData <= 0">
    No results
  </div>
  
  <div class="row" *ngIf="songData.length > 0">
      <div class="row__top">
        <div class="row__top--header">
          Songs
        </div>
        <a [routerLink]="['song','all']"  class="row__top--button">
          View more
        </a>
      </div>
      <div class="row__center">
      <app-searchitemcard class="row__item" *ngFor="let item of songData" 
          [artworkUrl60] ="item.artworkUrl60"
          [previewUrl] = "item.previewUrl"
          [trackCensoredName]= "item.trackCensoredName"
          [artistName]="item.artistName"
          [releaseDate]="item.releaseDate"
          [primaryGenreName]="item.primaryGenreName"
          [collectionPrice]="item.collectionPrice"
          [collectionViewUrl]="item.collectionViewUrl"
        ></app-searchitemcard>
        
      </div>
      <router-outlet></router-outlet>
    <!-- <app-searchitemcard class="row__item"
          [data]="songData"></app-searchitemcard>-->
      
    </div>
    

  <div class="row" *ngIf="artistData.length > 0">
      <div class="row__top">
        <div class="row__top--header">
          Artists
        </div>
        <a [routerLink]="['artist','all']" routerLinkActive="router-link-active"  class="row__top--button">
          View more
        </a>
      </div>
      <div class="row__center">
      <app-searchitemcard class="row__item" *ngFor="let item of artistData" 
          [artworkUrl60] ="item.artworkUrl60"
          [previewUrl] = "item.previewUrl"
          [trackCensoredName]= "item.trackCensoredName"
          [artistName]="item.artistName"
          [releaseDate]="item.releaseDate"
          [primaryGenreName]="item.primaryGenreName"
          [collectionPrice]="item.collectionPrice"
          [collectionViewUrl]="item.collectionViewUrl"
        ></app-searchitemcard>
        
      </div>
      <!-- <app-searchitemcard class="row__item"
          [data]="songData"></app-searchitemcard>-->
      
    </div>
    
  <div class="row" *ngIf="albumData.length > 0">
      <div class="row__top">
        <div class="row__top--header">
          Albums
        </div>
        <a [routerLink]="['album','all']" class="row__top--button">
          View more
        </a>
      </div>
      <div class="row__center">
      <app-searchitemcard class="row__item" *ngFor="let item of albumData" 
          [artworkUrl60] ="item.artworkUrl60"
          [previewUrl] = "item.previewUrl"
          [trackCensoredName]= "item.trackCensoredName"
          [artistName]="item.artistName"
          [releaseDate]="item.releaseDate"
          [primaryGenreName]="item.primaryGenreName"
          [collectionPrice]="item.collectionPrice"
          [collectionViewUrl]="item.collectionViewUrl"
        ></app-searchitemcard>
        
      </div>
      <!-- <app-searchitemcard class="row__item"
          [data]="songData"></app-searchitemcard>-->
      
    </div>

  <div class="row" *ngIf="composerData.length > 0">
    <div class="row__top">
      <div class="row__top--header">
        Composer
      </div>
      <a [routerLink]="['composer','all']" class="row__top--button">
        View more
      </a>
    </div>
    <div class="row__center">
    <app-searchitemcard class="row__item" *ngFor="let item of composerData" 
        [artworkUrl60] ="item.artworkUrl60"
        [previewUrl] = "item.previewUrl"
        [trackCensoredName]= "item.trackCensoredName"
        [artistName]="item.artistName"
        [releaseDate]="item.releaseDate"
        [primaryGenreName]="item.primaryGenreName"
        [collectionPrice]="item.collectionPrice"
        [collectionViewUrl]="item.collectionViewUrl"
      ></app-searchitemcard>
      
    </div>
    <!-- <app-searchitemcard class="row__item"
        [data]="songData"></app-searchitemcard>-->
    
  </div>

<app-play-music class="playControls"></app-play-music>