
<div class="header" #header (scroll)="scrollDown()" 
      [scrollTop] = "scrollTop">
  <a [routerLink]="['/home']" class="header__brand">
    <svg class="header__brand--icon">
      <use xlink:href="../../../../assets/svg/symbol-defs.svg#icon-apple"></use>
    </svg>
    <div class="header__brand--text">
      iTunesSearch
    </div>
  </a>
  <div class="header__search">
    <input type="text" 
    #inputquery
    (keyup) = "onQueryKeyup(inputquery.value,false)" 
    (keyup.enter)="onQueryKeyup(inputquery.value,true)"
    (focus)="hideSuggestion()"
    (focusout)="showSuggestion()"
    placeholder="Search songs, artists, albums..."
    class="header__search-input">
    
      <svg class="header__icon">
        <use xlink:href="../../../../assets/svg/symbol-defs.svg#icon-magnifying-glass"></use>
      </svg>
      <div *ngIf="!inputFocus">
          <app-inputsuggestions (click)="hideSuggestion()" class="header__inputSuggestions">
          </app-inputsuggestions>

      </div>
  </div>
  <div class="header__dummy">
    
  </div>
  
</div>
