@import "../../../../styles/variables";
.header {
    font-size: 2rem;
    height: 100%;
    background-color: rgba($color-primary-1,.9);
    border-bottom: $line;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__brand{
        align-self: center;
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        &--icon{
            fill: $color-light-3;
            height: 3.5rem;
            width: 3.5rem;
            margin: 0 1rem;

            align-self: center;
        }
        &--text{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3.5rem;
            font-weight: 300;
            color : $color-light-3;
        }
    }
    &__search{
        justify-self: center;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    @media only screen and (max-width: 200rem){
        flex-wrap: wrap;
        align-content: space-around;
        //height: 8rem;
    }
    &__search-input {
        font-family: sans-serif;
        font-size: inherit;
        color: $color-primary-1;
        background-color: $color-light-2;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 100%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            background-color:$color-light-3;
        }

        &::-webkit-input-placeholder {
            font-family: inherit;
            font-weight: 100;
            color: $color-primary-3;
        }
    }

    &__search-input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-primary-2;
        transform: translateY(.5rem);
    }

    &__inputSuggestions{
        position: absolute;
        top: 100%;
        left: 2%;
        width: 98%;
        background-color: $color-light-3;
        color: $color-primary-1;

    }
}

